@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background: #f3f3f3;
  color: #0c0c0c;
  font-family: Noto Sans JP,normal;
  line-height: 1.6;
}

h1{
  font-size: 25px;
  line-height: 43px;
  font-weight: 700;
  font-family: Noto Sans JP,normal;
}

.post-body p {
  font-size: 16px;
  line-height: 24px;
  margin: 1em 0;
}

.post-body h2 {
  /* background: #fcebf0; */
  border-left: 8px solid #0099e3;
  color: #0c0c0c;
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
  margin: 6rem 0 3rem;
  padding: 1.0rem 1.0rem 1.2rem 1.4rem;  /* 上下左右 */
}

.post-body h3 {
  border-bottom: 3px solid #cecece;
  color: #0c0c0c;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin: 4.5rem 0 2.4rem;
  padding: 0 0 1.0rem;
}

.post-body h4 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.4;
  padding: 0 0 1.2rem;
}

 /*　画面サイズが480pxまではここを読み込む　*/
@media screen and (max-width: 480px){
  .post-body {
      font-size: 1.2rem;
      line-height: 1.6;
  }
  .post-body h2 {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.0;
    border-left: 8px solid #0099e3;
    padding: 1.2rem 1rem 1rem 1.2rem;
  }
}

/* microcms用カスタムclass */
main .redfont{
  color: red;
}

main .highlight{
  background-color: yellow;
}

/* 目次用 */
.tagstyle1{
  font-size: 1.4em;
}

.tagstyle2{
  font-size: 1.2em;
  color: blue;
  margin-top: 3px;
  margin-bottom: 3px;
}
.tagstyle3{
  font-size: 1.0em;
  padding: 0.1em 0.3em;
  padding-left: 0.3em;
}

 /*　画面サイズが480pxまではここを読み込む　*/
 @media screen and (max-width: 480px){
  .tagstyle1{
    font-size: 1.2em;
  }
  
  .tagstyle2{
    font-size: 0.9em;
  }
  .tagstyle3{
    font-size: 0.8em;
  }

 }

